body {
  background-color: #0a192f;
  color: white;
  font-family: Arial, sans-serif;
}
.phone_block {
  display: flex;
  justify-content: space-between;
  margin-left: 135px;
}
.features {
  width: 50%;
}
.feature {
  margin-bottom: 20px;
}
.feature-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #64ffda;
}
.phones {
  width: 40%;
}
.phone {
  width: 100%;
  height: 200px;
  background-color: #1f2833;
  margin-bottom: 20px;
}

.text_title_one {
  font-size: 24px;
  color: white;
}