.container {
  margin-top: 30px;
  border: 3px solid black;
  border-radius: 8px;
}

.row .col {
  border: 1px solid black;
  height: 150px;
}

.head_info_form{
  height: 600px;
}

.responsive-text {
  font-size: calc(10px + 2vw);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 20px;
}

.form-group, .form-group2 {
  border: 1px solid #6b6b6b;
  padding: 10px;
}


.formtext {
  text-align: center;
  font-size: 30px;
  padding-top: 120px;
}