.main-content {
  margin: 0 auto;
  width: 1200px;
  height: 600px;
  background-color: #0a0a0a;
  color: rgb(200, 222, 33);
  padding: 20px;
}

.header-info {
  display: flex;
}

.header-info-title {
  display: flex;
  grid-gap: 20px;

  color: #fff;
  font-family: Work Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.714px;
}

.header-block_content {
  margin: 0 auto;
  margin-top: 45px;
}

.text-info-title_left {
  width: 200px;
  color: #fff;

  text-align: center;
  font-family: Roboto;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.857px;
  text-transform: lowercase;
}

.text-info-title_right {
  width: 300px;
  height: 57px;
  flex-shrink: 0;

  color: #fff;

  text-align: center;
  font-family: Roboto;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: 67.857px;
  text-transform: lowercase;
}

.text-info {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  grid-gap: 20px;
}

.testcolor {
  background-color: rgb(62, 130, 80);
  margin-left: 200px;
  color: whitesmoke;
}

.testcolor:hover {
  cursor: pointer;
  background-color: #e66465;
  color: whitesmoke;
}

.header-info-navigate {
  background: linear-gradient(#e66465, #9198e5);
  border-radius: 15px;
  border: 2px solid yellow;
  opacity: 0.5;
}

.header-info-navigate-links {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.header-info-navigate-links a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header-info-navigate-links:hover {
  color: wheat;
}

.main-content_block {
  background-color: rgb(136, 117, 117);
}

.custom-change button {
  border-radius: 50%;
}

.modal-container .modal {
  height: 500px;
  display: contents;
}

.main-content_block-post {
  background-color: #e66465;
  height: 500px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.main-content_block-post h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#post-content {
  background-color: #e3ebe0;
}

.btn-block {
  display: flex;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.btn-block button {
  background: rgb(213, 118, 50);
  background: linear-gradient(
    90deg,
    rgba(213, 118, 50, 0.927608543417367) 16%,
    rgba(235, 226, 237, 1) 52%,
    rgba(252, 176, 69, 1) 100%
  );
  margin: 10px;
  padding: 5px;
  color: rgb(14, 28, 68);
  border-radius: 10px;
  box-shadow: 2px 3px 6px rgb(97 108 106);
  font-size: 20px;
  color: black;
  font-weight: 700;
  font-family: cursive;
}

#btn-menu:hover {
  animation: buttonHover 3s ease-out;
}

@keyframes buttonHover {
  0% {
    transform: translateY(0);
    background: rgb(213, 118, 50);
    background: linear-gradient(
      90deg,
      rgba(213, 118, 50, 0.927608543417367) 16%,
      rgba(235, 226, 237, 1) 52%,
      rgba(252, 176, 69, 1) 100%
    );
  }

  50% {
    transform: translateY(-25px);
    background: rgb(14, 28, 68);
    color: white;
  }

  100% {
    transform: translateY(0);
    background: #e43b25;
  }
}

#btn-reset:hover {
  animation: buttonHoverScaleX 3s ease-out;
}

@keyframes buttonHoverScaleX {
  0% {
    transform: translateX(0);
    background: rgb(213, 118, 50);
    background: linear-gradient(
      90deg,
      rgba(213, 118, 50, 0.927608543417367) 16%,
      rgba(235, 226, 237, 1) 52%,
      rgba(252, 176, 69, 1) 100%
    );
  }

  50% {
    transform: translateX(125px);
    background: rgb(14, 28, 68);
    color: white;
  }

  100% {
    transform: translateX(0);
    background: #e43b25;
  }
}

#btn-submit:hover {
  animation: buttonHoverRotate 3s ease-out;
}

@keyframes buttonHoverRotate {
  0% {
    transform: rotate(5deg);
    background: rgb(213, 118, 50);
    background: linear-gradient(
      90deg,
      rgba(213, 118, 50, 0.927608543417367) 16%,
      rgba(235, 226, 237, 1) 52%,
      rgba(252, 176, 69, 1) 100%
    );
  }

  25% {
    transform: rotate(45deg);
    background: rgb(213, 118, 50);
    background: linear-gradient(
      90deg,
      rgba(213, 118, 50, 0.927608543417367) 16%,
      rgba(235, 226, 237, 1) 52%,
      rgba(252, 176, 69, 1) 100%
    );
  }

  50% {
    transform: rotate(90deg);
    background: rgb(14, 28, 68);
    color: white;
  }

  75% {
    transform: rotate(45deg);
    background: rgb(14, 28, 68);
    color: white;
  }

  100% {
    transform: rotate(5deg);
    background: #e43b25;
  }
}

.general-profile-header {
  background-color: #2558be;
  height: 120px;
  width: 100%;
}

.general-profile-header-icon {
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
}

.general-profile-header-icon-left svg {
  width: 40px;
  height: 40px;
}

.general-profile-header-icon-right svg {
  width: 40px;
  height: 40px;
}

.general-profile-header-navigate {
  position: absolute;
  left: 10px;
}

.general-profile-header-navigate a {
  color: white;
}

.main-content-profile {
  margin-top: 10px;
  background-color: rgb(190, 179, 179);
  width: 80%;
  height: 200px;
}

.main-content-profile input {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

.form-content {
  width: 800px;
  background-color: rgb(134, 227, 116);
  height: 500px;
  margin: 20px;
}

.test-card-btr {
  border: 3px solid rgb(6, 6, 31);
  position: relative;
  /* margin: 20px 40px;
  display: flex;
  justify-content: center;
  grid-gap: 40px;
  margin-top: 15%; */
}

.test-card-btr .card-one {
  /* вставляємо назву анімаціі задаємо час анімаціі і парамерт як ій вийти з анімаціі */
  /* animation: animateCard 3s ease-in-out; */
  position: absolute;
  right: 0;
}

.test-card-btr .card-one:hover {
  cursor: pointer;
  animation: none;
}

/* назва анімаціі */
@keyframes animateCard {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-125px);
  }

  100% {
    transform: translateX(0);
  }
}

.table-block {
  display: flex;
  justify-content: center;
  background: rgb(218, 110, 110);
}

ol,
ul,
li {
  border: 2px solid white;
  margin: 5px;
}

li::marker {
  /* content: "✝ "; */
  font-size: 1.2em;
  color: "red";
}

li::before {
  color: red;
}

.todoText {
  text-decoration: none;
}

.checkbox:checked + .todoText {
  text-decoration: line-through;
}

.parent-block {
  position: relative;
}

.child-block {
  position: absolute;

  right: 0;

  background-color: rgb(37, 201, 70);
  height: 100px;
  width: 100px;
  margin: 10px;
}

.child-block-second {
  position: absolute;
  left: 0;
  background-color: rgb(175, 47, 201);
  height: 100px;
  width: 100px;
  margin: 10px;
}

.glid-flex-block {
  background-color: #2558be;
  justify-content: center;
  display: flex;
  height: 500px;
}

/* min-width 
  це те що до нашоі ширини, ми не трогаємо, а якщо ширина буде змешнуватись < ніж 1000px, то тоді я головний
*/

@media screen and (max-width: 1025px) {
  .glid-flex-block {
    background-color: #df1515;
    height: 200px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 525px) {
  .glid-flex-block {
    font-size: 8px;
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
  }
}

/* min-width 
  це те що до нашоі ширини, ми не трогаємо, а якщо ширина буде збільшуватись > 1200px то тоді я головний
*/

.header-info {
  display: flex;
  justify-content: space-between;
  margin: 35px 60px;
}

.header-info-section-navigate {
  display: flex;
  grid-gap: 32px;
  color: #0a0a0a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.header-info-section-navigate div:hover {
  color: rgb(244, 235, 235);
  cursor: pointer;
  background-color: #0a0a0a;
  border-radius: 11px;
  align-items: center;
  display: flex;
  padding: 7px;
}

.header-info-section-btn button {
  width: 116px;
  height: 46px;
  border-radius: 32px;
  background-color: #0a0a0a;
  color: white;
  border: none;
}

.main-content-portfolio {
  margin-top: 40px;
  height: 450px;
  flex-shrink: 0;
  display: flex;
  grid-gap: 48px;
  margin: 20px;
  justify-content: center;
}

.main__content-title {
  height: 180px;
  display: flex;
  justify-content: center;
}

.main__content-title span {
  color: #0a0a0a;
  font-family: Roboto;
  font-size: 142px;
  font-style: normal;
  font-weight: 400;
  line-height: 160px;
  /* 112.676% */
}

.main-content-btn {
  margin: 60px 47px;
}

.main-content-btn button {
  border-radius: 40px;
  background: #c6f572;
  color: #0a0a0a;
  height: 47px;
  width: 180px;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14.4px;
  /* 120% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

#section_img-horison {
  width: 400px;
  height: 280px;
}

#section_img-wertical {
  width: 320px;
  height: 400px;
}

.main-content-descriptions {
  color: #0a0a0a;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 150% */
  height: 85px;
  width: 453px;

  margin: 35px;
}

.footer-content {
  height: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  background-color: #0a0a0a;
}

.footer-content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 15px;
}

.footer-content-info span {
  color: #faf9f7;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.footer-content-info p {
  color: #504f4f;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.6px;
}

.main-content-info {
  height: 810px;
  display: grid;
  grid-template-rows: 1fr;
}

.main-content-info_head {
  height: 800px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

form {
  margin-top: 50%;
  margin: 50px 5px 10px 100px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  opacity: 0.85;
  font-size: XX-large;
}

form label {
  color: rgb(91 226 251);
  color: linear-gradient(
    90deg,
    rgba(50, 124, 213, 0.927608543417367) 16%,
    rgba(235, 226, 237, 1) 57%,
    rgba(252, 69, 251, 1) 100%
  );
}

form svg {
  margin: 3px !important;
}

/**form textarea {
  width: 95% !important;
  margin: 13px;
}**/

form h2 {
  color: #ffffff;
  text-align: center;
  font-family: cursive;
}

section input {
  margin: 0 auto;
  width: 95% !important;
}


#info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}

.form-check input {
  width: 20px !important;
}

.form-select-custom {
  width: 50%;
  margin: 0 auto;
}

.btn-custom-form {
  display: flex;
  justify-content: center;
}

#reset-fields {
  background-color: #e41616;
  border: none;
}

.myBlock {
  height: 375px;
  background: rgb(124, 199, 199);
  margin: 180px 0 10px 0;
  text-align: center;
  padding-top: 10%;
}

.myBlock strong {
  font-size: 30px;
}

.main-content-form-info {
  height: 1130px;
  background-color: #0a0a0a;
  position: relative;
  margin-top: 245px;
}

.main-content-form-info_title {
  margin-top: 135px;
  margin-left: 120px;
  font-family: cursive;
  position: absolute;
  width: 907px;
  height: 200px;
  color: #faf9f7;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  background-color: #df1515;
}

.pre-footer-block-first-content {
  height: 1130px;
  background-color: #0a0a0a;
  color: white;
  flex-shrink: 0;
}

.pre-footer-block-first-content__title {
  position: relative;
  margin: 0 auto;
  width: 1016px;
  color: #faf9f7;
  padding: 192px 0 169px 120px;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

.pre-footer-block-first-content__icon {
  position: absolute;
  right: 31px;
  top: 224px;
  height: 63px;
  width: 65px;
  background-image: url("images/word_icon.png");
  background-repeat: no-repeat;
}



.pre-footer-block-first-content__cards {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

.content__cards-one,
.content__cards-two,
.content__cards-three {
  width: 315px;
  height: 480px;
  background-color: #fbf19b;
  border-radius: 12px;
  color: rgb(6, 6, 31);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-gap: 20px;
}

.content__cards-numbers {
  padding: 5px;
  margin-left: 20px;
  color: #0a0a0a;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.content__cards-title {
  padding: 5px;
  margin-left: 20px;
  color: #0a0a0a;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.content__cards-subtitle {
  padding: 5px;
  margin-left: 20px;
  color: #0a0a0a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: block;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(100%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-100%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.head_info-block img {
  width: 100%;
  background-size: cover;
  background-repeat: unset;
  height: auto;
}
  