.predrocessing {
  height: 200px;
  background: rgb(209, 198, 198);

  &__title {
    font-size: 45px;
    color: darkblue;
    width: 250px;
    background-color: coral;

    &-subtitle {
      font-size: 25px;
      color: rgb(208, 20, 202);
      width: 700px;
      background-color: rgb(26, 183, 86);

      &__one {
        background-color: black;
        color: wheat;
      }
    }
  }
}

.pre-footer-block-second-content {
  position: relative;
  height: 1190px;
  background-color: #514747;
  color: white;
  flex-shrink: 0;

  &__card {
    position: absolute;
    height: 460px;
    width: 350px;
    margin: 0 auto;
    background-image: url("images/list.png");
    z-index: 1;
  }

  &__formcontent {
    z-index: 0;
    width: 840px;
    height: 852px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #fbf19b;
    position: absolute;
  }
}

.general-block__crypto__head { 
  height: 1170px;
  background: rgb(50,124,213);
background: linear-gradient(90deg, rgba(50,124,213,1) 6%, rgba(227,226,237,1) 50%, rgba(69,85,252,1) 96%);



  &__header { 
      height: 100px; 
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      margin: 0 80px; 
      color: #FFFFFF; 
  } 

  &__header span { 
      font-size: 18px; 
      line-height: 23.4px; 
  } 

  &__header button { 
      margin-left: 40px; 
      width: 130px; 
      height: 40px; 
      color: #FFFFFF; 
  } 

  &__header__btn { 
      gap: 40px; 
  } 

}
.general-block__crypto__head__many__text {  
  padding-left: 120px;  
  padding-top: 130px;  
}  
 
.general-block__crypto__buy {  
  color: white;  
  font-size: 45px;  
}  
.general-block__crypto__lorem {  
  color: white;  
  font-size: 15px;  
  padding-top: 40px;  
}  
.general-block__crypto__bsign {  
  padding-top: 30px;  
} 
.general-block__crypto__head__many__img { 
  padding-top: 60px; 
  margin-right: 150px; 
}

.castom___arrow {
  background: red;
  position: absolute;
  top: 50%;
  width: 1130px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
