.predrocessing {
  height: 200px;
  background: rgb(209, 198, 198);

  &__title {
    font-size: 45px;
    color: darkblue;
    width: 250px;
    background-color: coral;

    &-subtitle {
      font-size: 25px;
      color: rgb(208, 20, 202);
      width: 700px;
      background-color: rgb(26, 183, 86);

      &__one {
        background-color: black;
        color: wheat;
      }
    }
  }
}

.pre-footer-block-second-content {
  position: relative;
  height: 1190px;
  background-color: #514747;
  color: white;
  flex-shrink: 0;

  &__card {
    position: absolute;
    height: 460px;
    width: 350px;
    margin: 0 auto;
    background-image: url("images/list.png");
    z-index: 1;
  }

  &__formcontent {
    z-index: 0;
    width: 840px;
    height: 852px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #fbf19b;
    position: absolute;
  }
}
